* {
  max-width: 100%;
  /*  overflow: hidden;*/
  font-family: sans-serif;
}
html,
body {
  overflow: hidden;
  font-size: 16px;
  margin: 0px;
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
  width: 1200px;
}
#world {
  position: relative;
  z-index: 1;
}
.level {
  display: block;
  width: 100%;
  position: absolute;
}
.link {
  stroke: #000;
  stroke-width: 1.5px;
}
.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}
.node.fixed {
  fill: #f00;
}
#panel {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  background-color: white;
  z-index: 2;
  float: left;
  width: 400px;
}
#answers {
  overflow: hidden;
  background-color: white;
}
#answers img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  cursor: move;
  margin: auto;
  display: block;
}
#logo {
  width: 250px;
  margin: auto;
  padding: 20px;
  height: auto;
  display: block;
}
.level-name {
  float: right;
  margin: 10px;
  font-size: 120%;
  text-align: right;
  width: 100px;
}
.answer {
  height: 70px;
  width: 90px;
  display: inline-block;
  margin: 5px;
}
.answer button {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 60%;
  background-color: #014f9e;
  color: white;
  border-style: none;
  cursor: pointer;
}
#intro {
  text-align: center;
}
#message {
  display: none;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 20px;
  left: 50%;
  border-width: 2px;
  margin-left: -150px;
  background-color: white;
  border-style: solid;
  color: black;
  padding: 10px;
}
.level:nth-child(odd) {
  background: #cceff7;
}
.level:nth-child(even) {
  background: #99dfef;
}
