* {
  max-width: 100%;
  font-family: sans-serif;
}
.link {
  stroke: #000;
  stroke-width: 1.5px;
}
.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}
.node.fixed {
  fill: #f00;
}
#answers img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: move;
  float: left;
}
#message {
  display: none;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 20px;
  left: 50%;
  margin-left: -150px;
  background-color: rebeccapurple;
  color: white;
  padding: 10px;
}
