* {
  max-width: 100%;
  /*  overflow: hidden;*/
  font-family: "calibri", sans-serif;
}
html,
body {
  overflow: hidden;
  font-size: 18px;
  margin: 0px;
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
  width: 1024px;
  border-style: solid;
  height: 650px;
}
#world {
  left: 420px;
  position: absolute;
  z-index: 1;
}
.level {
  display: block;
  width: 100%;
  position: absolute;
}
.link {
  stroke: #000;
  stroke-width: 1.5px;
}
.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}
.node.fixed {
  fill: #f00;
}
#panel {
  overflow: hidden;
  height: 650px;
  background-color: white;
  z-index: 2;
  position: absolute;
  left: 0px;
  width: 425px;
}
#answers {
  overflow: hidden;
  background-color: white;
  height: 560px;
}
#answers img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: auto;
  display: block;
}
#logo {
  width: 250px;
  margin: auto;
  padding: 10px;
  height: auto;
  display: block;
}
.level-name {
  font-weight: normal;
  float: right;
  margin: 10px;
  font-size: 100%;
  text-align: right;
  width: 100px;
}
.answer {
  position: relative;
  height: 85px;
  width: 95px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
#answers .answer.done img {
  cursor: default;
}
.answer.done:before {
  content: '\2714';
  color: white;
  background-color: green;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 20px;
  line-height: 20px;
  font-size: 50%;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 30px;
  text-align: center;
}
.answer button {
  font-family: inherit;
  display: block;
  outline: none;
  width: 100%;
  padding: 0px;
  font-size: 80%;
  background-color: transparent;
  color: #014f9e;
  border-style: none;
  cursor: pointer;
}
#message {
  display: none;
  text-align: left;
  height: 544px;
  font-size: 100%;
}
#message .inner {
  padding: 10px;
}
#close-info {
  background-color: #014f9e;
  color: white;
  padding: 5px;
  border-style: none;
  outline: none;
  cursor: pointer;
  margin: 10px auto;
  width: 50px;
  display: block;
}
#info-title {
  text-align: center;
  color: #014f9e;
}
#info-image {
  cursor: move;
  width: 150px;
  display: block;
  height: auto;
  margin: auto;
  border-radius: 200px;
  border-style: solid;
  border-color: #014f9e;
}
.level:nth-child(odd) {
  background: #cceff7;
}
.level:nth-child(even) {
  background: #99dfef;
}
.blockUI {
  cursor: inherit !important;
}
.blockMsg {
  padding: 10px !important;
  top: 10% !important;
}
button.unblock {
  color: white;
  background-color: #014f9e;
  border-style: none;
  font-family: inherit;
  font-size:100%;
  cursor: pointer;
}
